.cookieControl__Modal-enter-active,
.cookieControl__Modal-leave-active {
  transition: opacity 0.25s;
}
.cookieControl__Modal-enter,
.cookieControl__Modal-leave-to {
  opacity: 0;
}
.cookieControl__Bar--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cookieControl__Bar--center-enter-active,
.cookieControl__Bar--top-left-enter-active,
.cookieControl__Bar--top-full-enter-active,
.cookieControl__Bar--top-right-enter-active,
.cookieControl__Bar--bottom-left-enter-active,
.cookieControl__Bar--bottom-full-enter-active,
.cookieControl__Bar--bottom-right-enter-active,
.cookieControl__Bar--center-leave-active,
.cookieControl__Bar--top-left-leave-active,
.cookieControl__Bar--top-full-leave-active,
.cookieControl__Bar--top-right-leave-active,
.cookieControl__Bar--bottom-left-leave-active,
.cookieControl__Bar--bottom-full-leave-active,
.cookieControl__Bar--bottom-right-leave-active {
  transition: transform 0.25s;
}
.cookieControl__Bar--top-left-enter,
.cookieControl__Bar--top-full-enter,
.cookieControl__Bar--top-right-enter,
.cookieControl__Bar--top-left-leave-to,
.cookieControl__Bar--top-full-leave-to,
.cookieControl__Bar--top-right-leave-to {
  transform: translateY(-100%);
}
.cookieControl__Bar--bottom-left-enter,
.cookieControl__Bar--bottom-full-enter,
.cookieControl__Bar--bottom-right-enter,
.cookieControl__Bar--bottom-left-leave-to,
.cookieControl__Bar--bottom-right-leave-to,
.cookieControl__Bar--bottom-full-leave-to {
  transform: translateY(100%);
}
.cookieControl__Bar--center-enter,
.cookieControl__Bar--center-leave-to {
  transform: translate(-50%, -50%) scale(0.95);
}
.cookieControl {
  position: relative;
  z-index: 100000;
}
.cookieControl button {
  border: 0;
  outline: 0;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 20px;
  backface-visibility: hidden;
  transition: background-color 200ms, color 200ms;
}
.cookieControl__Bar {
  position: fixed;
  background-color: var(--cookie-control-barBackground);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.cookieControl__Bar h3,
.cookieControl__Bar p {
  color: var(--cookie-control-barTextColor);
  max-width: 900px;
}
.cookieControl__Bar h3 {
  margin: 0;
  font-size: 20px;
}
.cookieControl__Bar p {
  font-size: 16px;
  margin: 5px 0 0;
}
.cookieControl__Bar button {
  color: var(--cookie-control-barButtonColor);
  background-color: var(--cookie-control-barButtonBackground);
}
.cookieControl__Bar button:hover {
  color: var(--cookie-control-barButtonHoverColor);
  background-color: var(--cookie-control-barButtonHoverBackground);
}
.cookieControl__Bar button:focus{
  box-shadow: 0 0 0 3px var(--cookie-control-focusRingColor);
}
.cookieControl__Bar button + button {
  margin-left: 10px;
}
.cookieControl__BarContainer {
  display: flex;
  padding: 20px;
  align-items: flex-end;
  justify-content: space-between;
}
.cookieControl__Bar--top-full,
.cookieControl__Bar--bottom-full {
  left: 0;
  right: 0;
}
.cookieControl__Bar--top-full {
  top: 0;
}
.cookieControl__Bar--bottom-full {
  bottom: 0;
}
.cookieControl__Bar--center p,
.cookieControl__Bar--top-left p,
.cookieControl__Bar--top-right p,
.cookieControl__Bar--bottom-left p,
.cookieControl__Bar--bottom-right p {
  max-width: 400px;
}
.cookieControl__Bar--center .cookieControl__BarContainer,
.cookieControl__Bar--top-left .cookieControl__BarContainer,
.cookieControl__Bar--top-right .cookieControl__BarContainer,
.cookieControl__Bar--bottom-left .cookieControl__BarContainer,
.cookieControl__Bar--bottom-right .cookieControl__BarContainer {
  flex-direction: column;
}
.cookieControl__Bar--center .cookieControl__BarButtons,
.cookieControl__Bar--top-left .cookieControl__BarButtons,
.cookieControl__Bar--top-right .cookieControl__BarButtons,
.cookieControl__Bar--bottom-left .cookieControl__BarButtons,
.cookieControl__Bar--bottom-right .cookieControl__BarButtons {
  margin-top: 20px;
}
.cookieControl__Bar--top-left,
.cookieControl__Bar--top-right {
  top: 20px;
}
.cookieControl__Bar--bottom-left,
.cookieControl__Bar--bottom-right {
  bottom: 20px;
}
.cookieControl__Bar--top-left,
.cookieControl__Bar--bottom-left {
  left: 20px;
}
.cookieControl__Bar--top-right,
.cookieControl__Bar--bottom-right {
  right: 20px;
}
.cookieControl__BarButtons {
  display: flex;
}
.cookieControl__Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-size: 0;
  text-align: center;
}
.cookieControl__Modal:before {
  content: '';
  min-height: 100vh;
  display: inline-block;
  vertical-align: middle;
}
.cookieControl__Modal:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: var(--cookie-control-modalOverlayOpacity);
  background-color: var(--cookie-control-modalOverlay);
}
.cookieControl__Modal > div {
  font-size: initial;
}
.cookieControl__Modal button {
  color: var(--cookie-control-modalButtonColor);
  background-color: var(--cookie-control-modalButtonBackground);
}
.cookieControl__Modal button:hover {
  color: var(--cookie-control-modalButtonHoverColor);
  background-color: var(--cookie-control-modalButtonHoverBackground);
}
.cookieControl__Modal button:focus {
  box-shadow: 0 0 0 3px var(--cookie-control-focusRingColor);
}
.cookieControl__ModalContent {
  position: relative;
  width: 100%;
  max-width: 550px;
  max-height: 80vh;
  text-align: left;
  overflow-y: scroll;
  display: inline-block;
  vertical-align: middle;
  color: var(--cookie-control-modalTextColor);
  background-color: var(--cookie-control-modalBackground);
}
.cookieControl__ModalContent *:not(button) {
  color: var(--cookie-control-modalTextColor);
}
.cookieControl__ModalContent h3 {
  font-size: 24px;
  margin: 15px 0px;
}
.cookieControl__ModalContent h3:first-of-type {
  margin-top: 0;
}
.cookieControl__ModalContent ul {
  padding: 0;
  font-size: 16px;
  list-style-type: none;
}
.cookieControl__ModalContent ul ul {
  padding: 5px 56px 0;
}
.cookieControl__ModalContent ul ul li + li {
  margin-top: 5px;
}
.cookieControl__ModalContent li {
  align-items: center;
}
.cookieControl__ModalContent li + li {
  margin-top: 20px;
}
.cookieControl__ModalContent input {
  display: none;
}
.cookieControl__ModalContent input:checked + button {
  background-color: var(--cookie-control-checkboxActiveBackground);
}
.cookieControl__ModalContent input:checked + button:before {
  background-color: var(--cookie-control-checkboxActiveCircleBackground);
  transform: translate3d(100%, -50%, 0);
}
.cookieControl__ModalContent input:checked:disabled + button {
  background-color: var(--cookie-control-checkboxDisabledBackground);
}
.cookieControl__ModalContent input:checked:disabled + button:before {
  background-color: var(--cookie-control-checkboxDisabledCircleBackground);
}
.cookieControl__ModalContent input + button {
  position: relative;
  min-width: 36px;
  min-height: 20px;
  font-size: 0;
  display: block;
  margin-right: 20px;
  border-radius: 20px;
  backface-visibility: hidden;
  transition: background-color 200ms;
  background-color: var(--cookie-control-checkboxInactiveBackground);
}
.cookieControl__ModalContent input + button:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: transform 200ms;
  transform: translate3d(0, -50%, 0);
  background-color: var(--cookie-control-checkboxInactiveCircleBackground);
}
.cookieControl__ModalContentInner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}
.cookieControl__ModalInputWrapper {
  display: flex;
  align-items: flex-start;
}
.cookieControl__ModalCookieName {
  font-weight: bold;
  text-transform: uppercase;
}
.cookieControl__ModalCookieName span {
  font-weight: normal;
  text-transform: none;
}
.cookieControl__ModalClose {
  align-self: flex-end;
  top: 20px;
  right: 20px;
}
.cookieControl__ModalButtons {
  display: flex;
  margin-top: 40px;
  align-items: stretch;
  gap: 20px;
}
.cookieControl__ModalUnsaved {
  position: absolute;
  left: 50%;
  bottom: 40px;
  margin: 0;
  color: var(--cookie-control-modalUnsavedColor);
  font-size: 14px;
  transform: translateX(-50%);
}
.cookieControl__BlockedIframe {
  padding: 20px;
  border: 2px solid #ddd;
}
.cookieControl__BlockedIframe p,
.cookieControl__BlockedIframe a {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
@media screen and (max-width: 768px) {
  .cookieControl__Bar {
    flex-direction: column;
    left: 0;
    right: 0;
  }
  .cookieControl__Bar p,
  .cookieControl__Bar h3 {
    max-width: 100%;
  }
  .cookieControl__Bar--top-full,
  .cookieControl__Bar--top-left,
  .cookieControl__Bar--top-right {
    top: 0;
  }
  .cookieControl__Bar--bottom-full,
  .cookieControl__Bar--bottom-left,
  .cookieControl__Bar--bottom-right {
    bottom: 0;
  }
  .cookieControl__ModalContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    max-height: 100%;
  }
  .cookieControl__ModalContentInner {
    padding: 20px;
  }
  .cookieControl__BarButtons {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .cookieControl__BarButtons button {
    width: 100%;
  }
  .cookieControl__BarButtons button + button {
    margin: 10px 0 0;
  }
  .cookieControl__BarContainer,
  .cookieControl__ModalButtons {
    flex-direction: column;
    gap: 10px;
  }
  .cookieControl__ModalButtons button {
    width: 100%;
  }
}
.cookieControl__ControlButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 0;
  outline: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  backface-visibility: hidden;
  transition: background-color 200ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: var(--cookie-control-controlButtonBackground);
}
.cookieControl__ControlButton svg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  transition: color 200ms;
  backface-visibility: hidden;
  transform: translate(-50%, -50%);
  color: var(--cookie-control-controlButtonIconColor);
}
.cookieControl__ControlButton:hover {
  background-color: var(--cookie-control-controlButtonHoverBackground);
}
.cookieControl__ControlButton:hover svg {
  color: var(--cookie-control-controlButtonIconHoverColor);
}
